/* area comune*/

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Mulish', sans-serif;
    height: 100vh;
    color: white;
    background-color: black;
    
}

/* inizio caratteristiche elementi header */
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    
    
}

.head{

    margin: 0px 4px;
}

.head-items{
    display: inline;
    background-color: rgba(133, 133, 133, 0.5);
    border-radius: 5px;
    padding: 3px 5px;
}

/* inizio caratteristiche elementi main  */
main{
    width: 90vw;
    margin: 0 auto;
    
    height: calc(100% - 120px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    gap: 10px;
    padding-top: 20px;
}

.utente{
    
    display: flex;
    position: relative;
    height: 150px;
    border: 1px solid black;

}
img{
    width: 200px;
    height: 150px;
    display: block;
}

.etichetta-nome{


    position: absolute;
    bottom: 5px;
    left:5px;
    background-color: rgba(133, 133, 133, 0.5);
    padding: 3px;
    border-radius: 3px;
}

/* inizio caratteristiche elementi footer  */
footer{
    position: fixed;
    height: 80px;
    
    width: 100%;
    background-color: grey;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-destra, .foot-sinistra{
    
    width: 20%;
    padding: 0 25px;
    text-align: left;
    
}

.etichetta-icone, .chevron{

    font-size: 13px;
}

.chevron{

    margin: 0 5px;
}
button{
    display: flex;
    color: inherit;
    background: none;
    border: none;
    font-size: 25px;
    display: inline;
    
}



.foot-centro{
    display: flex;
    gap: 20px;

}

.fa-share-from-square{

    color: green;
}

.foot-destra{
   display: flex;
    align-items: center;
    
    justify-content: flex-end;
}
#end-meeting{
    font-size: 13px;
    color: red;
    
    
}

.foot-destra #end-meeting{

    padding: 30px ;
    background-color: darkgrey;

}